<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">

    <%= form_tag farms_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a farm"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

      <div id="farms">
        <% @farms.each do |farm| %>
          <h4><%= farm.name %></h4>
          <p><%= farm.form_of_rearing %></p>
          <p><%= farm.country %></p>
          <p><%= farm.laying_farm %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
