<div class="mx-auto w-75 my-5">
  <h2 class="text-left">Register your farm</h2>
  <p class="text-left">Your email will only be used for storing purposes! We won’t sell your data or send you mails.</p>
  <%= simple_form_for @farm, html: { class: 'w-100' } do |f| %>
    <%= f.input :laying_farm %>
    <%= f.input :name %>
    <%= f.input :website_url %>
    <%= f.text_field :street, :placeholder => 'Streetname' %>
    <%= f.text_field :postcode, :placeholder => 'Postal code' %>
    <%= f.text_field :city, :placeholder => 'City' %>
    <%#= f.input :country %>
    <%= f.input :form_of_rearing %>
    <%= f.input :area %>
    <%= f.input :chicken_count %>
    <%= f.input :description, as: :text %>
    <%= f.submit "Save", data: { confirm: "Farm has been saved succesfully!" }%>
    <% end %>
</div>
