<div class ="container show">
  <h3><%= @farm.name %></h3>
  <div class ="flexbox">
    <%= image_tag "account_placeholder.png", class: "avatar-large" %>
    <div>
      <p><%= @farm.user.first_name%> <%= @farm.user.last_name%></p>
      <p><%= @farm.address %></p>
      <a href="#"><p><%= @farm.website_url %></p></a>
    </div>
  </div>

  <div class ="row justify-content-between icon-bar">
    <div>
     <%= image_tag "coop_icon.png" %>
     <p><% @farm.form_of_rearing %></p>
    </div>
    <div>
     <%= image_tag "area_icon.png" %>
     <p><% @farm.area %></p>
    </div>
    <div>
      <%= image_tag "ch_icon.png" %>
      <p><% @farm.chicken_count %></p>
    </div>
  </div>


  <h3>Satellite view</h3>
  <div id="map"
      style="width: 100%; height: 200px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>



  <div class ="cards">
    <%= image_tag "chicken_2.png" %>
    <%= image_tag "chicken_2.png" %>
    <%= image_tag "chicken_3.png" %>
    <%= image_tag "chicken_4.png" %>
  </div>
</div>
