<div class ="container">
  <div class="flexbox">
    <%= image_tag "logo.png" %>
    <h2>coopswatch</h2>
  </div>


  <div>
    <h4><%= @farm.name %></h4>
      <div class ="flexbox">
       <%= image_tag "ch_icon.png" %>
        <div>
          <p><%= @farm.user.first_name%><%= @farm.user.last_name%></p>
          <p><%= @farm.address %></p>
           <p><%= @farm.website_url %></p>
        </div>
      </div>

      <div class ="row justify-content-between">
        <%= image_tag "egg_icon.png" %>
        <%= image_tag "egg_icon.png" %>
        <%= image_tag "egg_icon.png" %>
      </div>
  </div>
</div>
