<div class="header with logo">
   <img src="" />
  <h1>coopswatch</h1>
</div>

<div class="container text-center">
  <%= form_tag farms_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a farm"
  %>
  <%= submit_tag "Browse farms", class: "btn btn-primary" %>
</div>
<% end %>

<div class=container-centered>
  <h3>Please enter a farm code</h3>

  <label for="form_of_rearing"></label>
  <select name="form_of_rearing" id="form_of_rearing">
    <option value="Organic Rearing">0</option>
    <option value="Free-range Rearing">1</option>
    <option value="Barn Rearing">2</option>
    <option value="cage rearing">3</option>
  </select>
  <label for="country"></label>
  <select name="country" id="country">
    <option value="Germany">DE</option>
    <option value="France">FR</option>
    <option value="United Kingdom">UK</option>
    <option value="Switzerland">CH</option>
    <option value="Norway">NO</option>
    <option value="Bulgary">BG</option>
    <option value="Portugal">PT</option>
    <option value="Finnland">FI</option>
    <option value="Sweden">SE</option>
    <option value="Austria">AT</option>
    <option value="Netherlands">NL</option>
    <option value="Poland">PL</option>
    <option value="Hungary">HU</option>
  </select>
  <div class="container text-center">
    <%= form_tag farms_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "laying farm number"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>
  <% end %>
  <img src="" />
</div>
